if { [file exists openocd_paths.cfg] } {
    source openocd_paths.cfg
    add_script_search_dir $ST_SCRIPTS
}

source [find interface/stlink-dap.cfg]
transport select hla_swd

set WORKAREASIZE 0x10000

# This will now successfully find gdb_helper.tcl because it's in the search path!
source [find target/stm32h5x.cfg]

reset_config srst_only