#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/dma/stm32_dma.h>

&i2c1 {
	status = "okay";

	/* I2C Multiplexer */
	tca9548: tca9548a@70 {
		compatible = "ti,tca9548a";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		i2c_chan0: i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			/* I/O Expander */
			tca6424: tca6424@22 {
				compatible = "ti,tca6424a";
				reg = <0x22>;
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <24>;
				status = "okay";
			};

			/* M24M01 EEPROM (1Mbit) */
			eeprom0: m24m01@50 {
				compatible = "atmel,at24";
				reg = <0x50>;
				size = <131072>;
				pagesize = <256>;
				address-width = <16>;
				timeout = <5>;
				status = "okay";
			};

			/* Texas Instruments HDC2010 temperature/humidity sensor. */
			hdc2010: hdc2010@40 {
				compatible = "ti,hdc20xx";
				reg = <0x40>;
				status = "okay";
			};
		};

		i2c_chan1: i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_chan2: i2c@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_chan3: i2c@3 {
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_chan4: i2c@4 {
			reg = <4>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_chan5: i2c@5 {
			reg = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_chan6: i2c@6 {
			reg = <6>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_chan7: i2c@7 {
			reg = <7>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

/ {
	aliases {
		led-strip = &led_strip;
	};

	/* Power and Reset control for slots */
	slot_ctrl_pwr: slot-ctrl-pwr {
		compatible = "gpio-leds";

		/* Each pin must be a child node for this compatible */
		pwr0: pwr_0 {gpios = <&tca6424 0 GPIO_ACTIVE_HIGH>;};
		pwr1: pwr_1 {gpios = <&tca6424 1 GPIO_ACTIVE_HIGH>;};
		pwr2: pwr_2 {gpios = <&tca6424 2 GPIO_ACTIVE_HIGH>;};
		pwr3: pwr_3 {gpios = <&tca6424 3 GPIO_ACTIVE_HIGH>;};
		pwr4: pwr_4 {gpios = <&tca6424 4 GPIO_ACTIVE_HIGH>;};
		pwr5: pwr_5 {gpios = <&tca6424 5 GPIO_ACTIVE_HIGH>;};
		pwr6: pwr_6 {gpios = <&tca6424 6 GPIO_ACTIVE_HIGH>;};
		pwr7: pwr_7 {gpios = <&tca6424 7 GPIO_ACTIVE_HIGH>;};
	};

	slot_ctrl_rst: slot-ctrl-rst {
		compatible = "gpio-leds";
		rst0: rst_0 {gpios = <&tca6424 8 GPIO_ACTIVE_LOW>;};
		rst1: rst_1 {gpios = <&tca6424 9 GPIO_ACTIVE_LOW>;};
		rst2: rst_2 {gpios = <&tca6424 10 GPIO_ACTIVE_LOW>;};
		rst3: rst_3 {gpios = <&tca6424 11 GPIO_ACTIVE_LOW>;};
		rst4: rst_4 {gpios = <&tca6424 12 GPIO_ACTIVE_LOW>;};
		rst5: rst_5 {gpios = <&tca6424 13 GPIO_ACTIVE_LOW>;};
		rst6: rst_6 {gpios = <&tca6424 14 GPIO_ACTIVE_LOW>;};
		rst7: rst_7 {gpios = <&tca6424 15 GPIO_ACTIVE_LOW>;};
	};

	/* LED_STATUS on PB5 (TIM3_CH2) driven as WS2812B via PWM + DMA. */
	led_strip: ws2812 {
		compatible = "worldsemi,ws2812-pwm";
		chain-length = <8>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
		pwms = <&pwm3 2 PWM_NSEC(1250) PWM_POLARITY_INVERTED>;
		dmas = <&dma1 2 5
				(STM32_DMA_MEMORY_TO_PERIPH |
				STM32_DMA_MEM_INC |
				STM32_DMA_PERIPH_NO_INC |
				STM32_DMA_PRIORITY_HIGH)
				0>;
		dma-names = "update";
	};
};

&spi1 {
	status = "okay";
	/* PB2 is index 0 (Onboard Flash),
	 * TCA6424 P20 is index 1 (Carrier Board Flash),
	 * TCA6424 P21..P27 is index 2..8 (Slots 1..7)
	 * In Zephyr, TC6424A gpio numbers are linear 0..23
	 */
	cs-gpios = <&gpiob 2 GPIO_ACTIVE_LOW>,
			   <&tca6424 16 GPIO_ACTIVE_LOW>,
			   <&tca6424 17 GPIO_ACTIVE_LOW>,
			   <&tca6424 18 GPIO_ACTIVE_LOW>,
			   <&tca6424 19 GPIO_ACTIVE_LOW>,
			   <&tca6424 20 GPIO_ACTIVE_LOW>,
			   <&tca6424 21 GPIO_ACTIVE_LOW>,
			   <&tca6424 22 GPIO_ACTIVE_LOW>,
			   <&tca6424 23 GPIO_ACTIVE_LOW>;

	/* Carrier Board Flash */
		w25q128_carrier: w25q128jv@1 {
			compatible = "jedec,spi-nor";
			reg = <1>;
			spi-max-frequency = <1000000>;
			size = <0x8000000>;
			jedec-id = [ef 40 18];
			status = "okay";
		};
};
